<!DOCTYPE html>
<html>
    <head>
        <title> Game Library </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type ="text/css">
    </head>

    <body class = "container">
        <h1>
            Game Library
            <a href = "logout" class = "btn btn-primary pull-right" style="margin-left:10px">Log Out</a>
            <a href = "new-entry" class = "btn btn-primary pull-right">Add Game to Library</a>
            <a href = "index" class = "btn btn-primary pull-right" style="margin-left:20px">Home</a>

        </h1>