<% include header %>


    <%   %>
      <h3>1.) skyrim</h3>
      <h3>2.) Moonster hunter world</h3>
      <h3>3.) Doom 3</h3>
      <h3>4.) Simcity</h3>
      <h3>5.) Overwatch</h3> 
      <p> this is a list of a games I like. Listed from 1 being the best and 5 being the worst. </p>
       <a href="/new-games"> Add a game?</a>
    <% %>

<% include footer %>